- provide(:titulo, 'Inicio')

.center.hero-unit
  %h1 Chécate aquí

  .h2 ¿Quieres saber en dónde puedes encontrar las clínicas de la Secretaría de Salud del Distrito Federal en donde puedes checarte?

  = link_to "Encuentra aquí!", '/mapa', class: "btn btn-large btn-primary"