%section#main
  #vendor-info
    .vendor-title
      %h1
        Centros de Salud de la Ciudad de Mexico
      %p
        De la Secretaría de Salud, SEDESA
    .vendor-data
      #vendor-head-now.vendor-heading
        Cerca de aquí
      #vendor-info-now.vendor-entries{style: "display: none"}
        .vendor-entry-list
          .vendor-message
            %h3
              Cargando
  #map

%section#templates{style: "display: none"}
  %script#mustache-entry{type: "text/template"}
    {{#features}}
    .vendor-entry
      %h3
        {{properties.name}}
    {{/features}}
