%section#main
  #vendor-info
    .vendor-title
      %h1
        Centros de Salud de la Ciudad de Mexico
      %p
        De la Secretaría de Salud, SEDESA
    .vendor-data
      #vendor-head-now.vendor-heading
        Cerca de aquí
      #vendor-info-now.vendor-entries{style: "display: none"}
  #map
