/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

@import "bootstrap";
html {
  overflow-y: scroll; }

body {
  padding-top: 60px; }

section {
  overflow: auto; }

.center {
  text-align: center; }

.center h1 {
  margin-bottom: 10px; }

#logo {
  float: left;
  font-size: 1.7em;
  color: #000;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 1; }

#logo:hover {
  color: #000;
  text-decoration: none; }

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999; }

footer a {
  color: #555; }

footer a:hover {
  color: #222; }

footer small {
  float: left; }

footer ul {
  float: right;
  list-style: none; }

footer ul li {
  float: left;
  margin-left: 10px; }
#map_canvas {
  min-height: 600px;
  width: 70%; }

#contflu {
  overflow: hidden; }

#tarjetas {
  height: 600px;
  overflow-y: scroll; }

.card {
  border: 2px solid;
  border-radius: 10px; }

.servicios {
  background-color: rgba(86, 61, 124, 0.15); }
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000; }
  a:visited {
    color: #666; }
  a:hover {
    color: #fff;
    background-color: #000; }

div.field, div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  #error_explanation ul li {
    font-size: 12px;
    list-style: square; }
