// Place all the styles related to the Places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map_canvas {
	//height: 600px;
	min-height:600px;
	width: 70%;
	//position: fixed;
}

#contflu {
	overflow: hidden;
}

#tarjetas {
	height: 600px;
	overflow-y:scroll; 
	//height: 600px;
	//overflow: scroll;
	//width: 300px;
	//float: right;
}

.card {
	border:2px solid;
	border-radius:10px;
}

.servicios {
	background-color: rgba(86, 61, 124, 0.15)
}

.centro_info {

}