// Place all the styles related to the Places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map_canvas {
	height: 600px;
	width: 70%;
	position: fixed;
}

#tarjetas {
	width: 300px;
	position: relative;
}

.centro_info {

}