- provide(:titulo, 'Mapa')

.container-fluid
  #busqueda_cont.row
    #busqueda.col-sm-8
      =form_tag lugares_path(format: :json), :method => :get, :remote => "true",:id => "forma_busqueda" do
        = text_field_tag "busca", "", :placeholder => "Busca"
        = submit_tag "Submit", :class => "btn btn-default"
    #botones.col-sm-4
      %button.btn.btn-default#boton_todos Localizarme 
    
  
.container-fluid.explorar
  #contflu.row-fluid.contenedor
    #map_canvas.mapa.flexible.col-sm-8
    #tarjetas.col-sm-4
      %h2 Lista

%h1= @lolo