.container-fluid
  #busqueda_cont.row
    #busqueda.col-sm-6
      =form_tag lugares_path(format: :json), :method => :get, :remote => "true",:id => "forma_busqueda" do
        = text_field_tag "busca", "", :placeholder => "Busca tu clinica"
        = submit_tag "Buscar", :class => "btn btn-default"
.container-fluid.explorar
  #contflu.row-fluid.contenedor
    #map_canvas.mapa.flexible.col-sm-8
    #tarjetas.col-sm-4
      %h2 Lista
