%footer.footer
  %nav.navbar.navbar-default.navbar-fixed-bottom
    %ul
      %li
        = link_to "Laboratorio para la Ciudad","http://www.labplc.mx/"
      %li
        = link_to "Secretaría de Salud", "http://www.salud.df.gob.mx/ssdf/" 
      %li
        = link_to "Contacto", "#"