%header
  %nav.navbar.navbar-default.navbar-fixed-top{:role => "search"}
    .navbar-header
      %a.navbar-brand{href: root_path} CHECATE AQUI
      %button.navbar-toggle{ :type => 'button', :data => {target: '#colapsar', toggle: 'collapse'}}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .collapse.navbar-collapse#colapsar 
      %ul.nav.navbar-nav
        %li{:class => "#{is_active?('hospitales')}"}
          %a Mapa
        %li{:class => "#{is_active?('ayuda')}"}
          %a{href: ayuda_path} Ayuda
        %li{:class => "#{is_active?('lista')}"}
          %a{href: lista_path} Centros de Salud
        %li{:class => "is_active?('about')"}
          %a Acerca De...
