<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "checate aqui", "#", id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Inicio", "#" %></li>
          <li><%= link_to "Ayuda", "#" %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>