%header
  %nav.navbar.navbar-default.navbar-fixed-top{:role => "search"}
    .navbar-header
      %a.navbar-brand CHECATE AQUI
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          %a Mapa
        %li
          %a Ayuda
        %li
          %a Acerca De...